@import "/styles/mixins/colors.scss";

.container {
  max-width: 2440px;
  padding: 34px 180px;
  width: 100%;
  background-color: $light-green;
  border-bottom: 0.5px solid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
}

.menu {
  font-size: clamp(10px,22px,22px);
  font-weight: 500;

  a+a {
    margin-left: 38.9px;
  }
}

.action {
  text-align: end;
  color: $white-color;
}