@import "/styles/mixins/colors.scss";

.container {
  padding: 34px 180px;
  width: 100%;
  background-color: $light-green;
  border-bottom: 0.5px solid ;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
}

.menu {
  font-size: 22px;
  font-weight: 500;
  a + a {
    margin-left: 38.9px;
  }
}

.action {
  text-align: end;
  color: $white-color;
}
