@import "styles/mixins/padding.scss";
@import "styles/mixins/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.container {
  margin-top: 9rem;
  font-family: "Inter", sans-serif;
}

.text {
  @include Padding;
  display: flex;

  h1 {
    font-weight: bold;
    color: $dark-green ;
    min-width: 20rem;
    font-size: 60px
  }

  p {
    // font-size: 27px;
    font-size: 27px;
    opacity: 0.8;
    margin-bottom: 3rem;
    width: 90%;
    min-width: 20rem;
    text-align: justify;
  }

  button {
    width: 275px;
    height: 67px;
    border-radius: 30px;
    border: none;
    background-color: $dark-green;
    color: $white-color;
    font-size: 17px;
    font-weight: bold;
    margin-left: auto;
    margin-bottom: 11.25rem;
  }
}

.image {
  margin-left: 16rem;

}

.slider {

  width: 100%;
  margin: 0 auto;

}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 5rem;
  }

 .text {
    @include PaddingMobile;

    h1 {
      font-size: 40px;
    }

    p {
      font-size: 20px;
    }


  }

  .image img{
    width: 300px;
    height: auto;
    margin: auto auto;
  }


}