@import "/styles/mixins/padding.scss";
@import "/styles/mixins/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.container {
    @include Padding;
    margin-top: 8rem;

    font-family: "Inter", sans-serif;

    h1 {
        font-size: 60px;
        color: $dark-green;
    }

    p {
        font-size: clamp(17px, 5vw, 35px);
        opacity: 0.8;
        height: 475px;
        width: 80%;
        height: auto;
        text-align: justify;
    }

    button {
        // width: 275px;
        // height: 67px;

        width: clamp(200px, 275px, 275px);
        height: clamp(50px, 67px, 67px);
        border-radius: 30px;
        border: none;
        color: $white-color;
        font-size: 17px;
        font-weight: bold;
    }

}

.modal {
    h1 {
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        @include PaddingMobile;

        h1 {
            font-size: 40px;
        }

        p {
            font-size: 20px;
            height: auto;
        }
    }
}