@import "/styles/mixins/colors.scss";

.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 11.25rem;

}


.reverse {
    flex-direction: row-reverse;
}

.text {
    width: 60%;
}

.image {
    margin: auto;
}

@media screen and (max-width: 768px) {
    
    .text{
        width: 90%;
    }
    .reverse{
        .image img{
            margin-right: 10rem;
        }
    }

    .image img{
        width: 300px;
        height: auto;
    }
}