@import "/styles/mixins/colors.scss";

.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 11.25rem;

}


.reverse {
    flex-direction: row-reverse;
}

.text {
    width: 60%;
}

.image {
    margin: auto;
}