@import "/styles/mixins/padding.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.container {
    @include Padding;
    margin-top: 8rem;
    height: 408px;
    width: 75%;
    background-color: #2CB3CD;
    display: flex;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    font-family: "Inter", sans-serif;

}

.mensage {

    margin: auto;
    text-align: justify;

    h1 {
        color: white;
        font-weight: 700;
        text-align: center;
    }

    p {
        font-size: 20px;
        width: 40vw;
        
    }
}

.image {
    width: 200px;
    margin-left: 3rem;
    margin-top: 5rem;
    flex-shrink: 0;
}

@media screen and (max-width: 768px) {
    .container{
        @include PaddingMobile;
        width: 90%;
    }
    .mensage{
        h1{
            font-size: 30px;
        }
        p{
            font-size: 17px;
            width: 85vw;
        }
    }
}