
.container{
    height: 60px;
    margin-top: 15.25rem;
    display: flex;
    justify-content: center; // Alinha horizontalmente ao centro
    align-items: center;   
    background-color: black;
    
}

.containerImages{
    margin-top: auto;
    display: flex;
}
.logoFametro img{
    width: 100px;
    height: auto;
}

.flatIcon img{
    width: 100px;
    height: 38px;
    margin-left: 1.5rem;
}
@media screen and (max-width: 768px) {
    .container {
        margin-top: 9.25rem;
    }
    .logoFametro img{
        width: 200px;
        height: auto;
    }
    
    .flatIcon img{
        width: 200px;
        height: auto;
        margin-left: 1.5rem;
    }
}