
.btn{
    background-color: #f3f3df;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}
.btn:hover{
    background-color: #ffffff;
    border-radius: 10rem;
    border: 10rem;
}
